<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! ðŸ’»ðŸ `

## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [ ]:
# Please write The solution Here for above question 1:

apple=100
banana=15
c=apple*banana #100*15=1500
if c>1000:
  print(apple+banana)
else:
  print(c)

115

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [ ]:
# Please write The solution Here for above question 2:
a=0 #starting num
b=10 #ending num
pre_num = 0 #previous number
sum=""
for i in range (a,b): #i=current number
  sum=i+pre_num
  pre_num=i
  print(f"current number {i} previous number {pre_num} sum :{sum}")

current number 0 previous number 0 sum :0
current number 1 previous number 1 sum :1
current number 2 previous number 2 sum :3
current number 3 previous number 3 sum :5
current number 4 previous number 4 sum :7
current number 5 previous number 5 sum :9
current number 6 previous number 6 sum :11
current number 7 previous number 7 sum :13
current number 8 previous number 8 sum :15
current number 9 previous number 9 sum :17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [ ]:
# Please write The solution Here for above question 3:
a='pynative'
print(a[4::])

tive

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [ ]:
# Please write The solution Here for above question 4:
"""a=[10,20,30,40,10]
b=[10,20,30,40,10]"""

a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ]

if a[0]==a[-1]and b[0]==b[-1]:
  print("true")
else:
  print("false")

false

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [11]:
# Please write The solution Here for above question 5:
a=[10,20,30,40]
b=[100,200,300,400]

for x,y in zip(a,b[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

In [13]:
"""a=[10,20,30,40]
b=[100,200,300,400]

for i in range(len(a)):
  if i in range(len(b[::-1])):
    print(a[i],b[i])"""

10 100
20 200
30 300
40 400

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
# Please write The solution Here for above question 6:
a=["mike","","Emma","Kelly","","Bread"]
c=[]
for i in a:
  if i!="":
    c.append(i)
print(c)

['mike', 'Emma', 'Kelly', 'Bread']

In [ ]:
a=["mike","","Emma","Kelly","","Bread"]
c=[]
for i in a:
  if i :
    c.append(i)
print(c)

['mike', 'Emma', 'Kelly', 'Bread']